<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Редактирование книги</title>
    <!-- Bootstrap CSS -->
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="bg-light">
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container">

    <form action="edit.html" class="col-md-4"
          id="edit-form" th:action="${add} ? @{/book/add} : @{/book/{bookId}/update(bookId=${book.id})}"
          th:method="post"
          th:object="${book}">
        <h1>Person Info:</h1>

        <div class="form-group" th:if="${book.id}">
            <label for="id-input">ID</label>
            <input class="form-control" id="id-input" readonly th:field="*{id}" th:value="${book.id}"/>
        </div>

        <div class="form-group">
            <label for="holder-name">Name</label>
            <input class="form-control" id="holder-name" th:classappend="${#fields.hasErrors('name')} ? is-invalid" th:field="*{name}"
                   th:value="${book.name}"/>
            <div class="invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></div>
        </div>

        <div class="form-group">
            <label for="holder-author">Author</label>
            <input class="form-control" id="holder-author" th:classappend="${#fields.hasErrors('author.name')} ? is-invalid" th:field="*{author.name}"
                   th:value="${book.author.name}"/>
            <div class="invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('author.name')}">Enter Id</div>
        </div>

        <div class="form-group">
            <label for="holder-genre">Genre:</label>
            <input class="form-control" id="holder-genre" th:classappend="${#fields.hasErrors('genre.name')} ? is-invalid" th:field="*{genre.name}"
                   th:value="${book.genre.name}"/>
            <div class="invalid-feedback" th:errors="*{genre.name}" th:if="${#fields.hasErrors('genre.name')}"></div>
        </div>

        <div class="form-group">
            <a class="btn btn-primary" th:href="${add} ? @{/book} : @{/book/{bookId}(bookId=${book.id})}" type="button">Назад</a>
            <button class="btn btn-success" type="submit">Сохранить</button>
        </div>
    </form>
</div>
</body>
</html>
