<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Ошибка</title>
    <!-- Bootstrap CSS -->
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="bg-light">
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Упппсссс! Что то пошло не так</h1>
                <div class="error-details">
                    Попробуйте перезагрузить страницу или вернуться на главную!
                </div>
                <div class="error-actions">
                    <a class="btn btn-primary" th:href="@{/book}" type="button">Главная страница</a>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>