<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список книг</title>
    <!-- Bootstrap CSS -->
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="bg-light">
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container">
    <h4>Список книг</h4>
    <a class="btn btn-outline-primary btn-sm" href="edit.html" th:href="@{/book/add}"
       th:method="get" type="button">Создать новую книгу</a>
    <table class="table thead-dark table-striped w-auto">
        <thead>
        <tr>
            <th>Ид</th>
            <th>Имя</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">1</td>
            <td th:text="${book.name}">Name</td>
            <td th:text="${book.author.name}">Author</td>
            <td th:text="${book.genre.name}">Genre</td>
            <td>
                <a class="btn btn-primary btn-sm" href="edit.html" th:href="@{/book/{bookId}(bookId=${book.id})}"
                   th:method="get" type="button">Просмотр</a>
            </td>
            <td>
                <a class="btn btn-secondary btn-sm" href="book.html" th:href="@{/book/{bookId}/delete(bookId=${book.id})}"
                   th:method="get" type="button">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
