<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="pos-f-t" th:fragment="navbar">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h4 class="text-white">Информация</h4>
            <span class="text-muted">Приложение библиотека, позволяет просматривать информацию о книгах</span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <button aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#navbarToggleExternalContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</div>